.position-relative {
  position: relative !important;
}

.d-flex {
  display: flex !important;
}

.nav-item {
  margin: 10px;
}

.container {
  margin: 10px;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-container {
  position: relative;
  width: 70vh;
  height: auto;
  background-color: rgb(22, 27, 34);
  border-radius: 20px;
  padding: 30px;
  margin-left: 50vh;
  margin-top: 10vh;
}

button {
  border-radius: 10px;
  height: fit-content;
  padding: 3px 10px 3px 10px;
  font-size: medium;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}
